/* media queries */

/* laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .topbar {
    width: 100%;
    background-color: #22212d;
    padding: 20px 50px;
  }

  nav {
    margin: 0 auto;
    padding: 20px 50px;
  }

  nav li a {
    color: #1d1d1d;
    font-size: 13px;
  }

  .logo img {
    width: 120px;
  }

  .icon-text img {
    width: 22px;
    height: 23px;
  }

  #col-hero img {
    width: 20px;
    height: 19px;
    margin-inline-end: 7px;
  }

  .icon-text span {
    font-size: 10px;
  }

  /* content */
}

/* tablets */
@media (min-width: 600px) and (max-width: 768px) {
  body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 120vh;
  }

  .topbar {
    width: 100%;
    background-color: #22212d;
    padding: 20px 22px;
  }

  nav {
    margin: 0 auto;
    padding: 20px 30px;
  }

  nav li a {
    color: #1d1d1d;
    font-size: 13px;
  }

  .logo img {
    width: 120px;
  }

  .icon-text img {
    width: 15px;
    height: 15px;
  }

  #col-hero img {
    width: 15px;
    height: 15px;
    margin-inline-end: 7px;
  }

  #col-heroes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .icon-text span {
    font-size: 9px;
  }

  /* content */

  /* layer1 */
  #layer1 {
    height: 110vh;
  }

  .background {
    height: 75%;
  }

  .content {
    height: 75%;
    padding: clamp(150px, 2vw, 50px) clamp(15px, 4vw, 40px); /* top/bottom left/right */
    margin: 0;
  }

  .header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .header p {
    text-align: center;
    margin: 0 auto;
    /* padding-top: 80px; */
    font-size: clamp(1.8125rem, 0.4732rem + 3.5714vw, 2.1875rem);
  }

  .text {
    margin-top: 10px;
  }

  .header span {
    font-size: clamp(0.9375rem, 0.7143rem + 0.5952vw, 1rem);
  }

  .box-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box {
    width: 85px;
    height: 85px;
  }
  .box-text {
    font-size: clamp(0.9375rem, 0.7143rem + 0.5952vw, 1rem);
  }

  /* clients */
  .clients {
    height: 280px;
    padding: 40px 5px;
    margin: 0 auto;
  }

  .clients:before,
  .clients:after {
    width: 200px;
    height: 100%;
  }

  /* product */
  .product {
    margin: 0 auto;
    padding: clamp(150px, 2vw, 50px) clamp(15px, 4vw, 40px);
    width: 100%;
    height: auto;
  }

  .product-title {
    width: 100%;
    height: auto;
  }
  .product-title p {
    font-size: clamp(0.9375rem, -1.9643rem + 7.7381vw, 1.75rem);
  }
  .card {
    margin-bottom: 20px;
  }

  /* about us */
  .about-us {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  #row-details {
    width: 100%;
    margin: 0 auto;
    padding: 20px 100px;
  }

  footer {
    margin: 0 auto;
    padding: 20px 50px;
    height: auto;
  }

  #footer-row {
    margin: 0 auto;
    padding: 0;
    width: 0 auto;
    padding: 0;
  }
  .responsive-center {
    text-align: center !important;
  }


  .footer-details span{
    text-align: center !important;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 auto;
    padding: 0;
  }

  /* navbar */

  nav {
    margin: 0;
    padding: 10px 50px;
  }

  .logo img {
    width: 120px;
  }

  #menuList {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #444;
    flex-direction: column;
    gap: 30px;
    padding: 60px 20px;
    transition: left 0.3s ease;
    display: flex;
    z-index: 999;
    transition: all 0.5s;
  }
  #menuList.active {
    left: 0;
  }

  .menu-icon {
    display: block;
  }

  nav ul li a {
    text-decoration: none;
    color: #ffffff;
  }

  nav ul {
    display: none;
  }

  .close-btn {
    align-self: flex-end;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
  }

  /* topbar */

  .icon-text img {
    width: 18px;
    height: 18px;
  }

  #col-hero img {
    width: 16px;
    height: 15px;
    margin-inline-end: 5px;
  }
  .topbar {
    width: 100%;
    background-color: #22212d;
    padding: 20px 50px;
  }

  #toprow {
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .icon-text span {
    background-color: transparent;
    font-size: 8px;
  }

  .icon-text {
    align-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ffffff;
  }

  #col-heroes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  /* content */
  .content {
    padding: clamp(90px, 2vw, 50px) clamp(15px, 4vw, 40px); /* top/bottom left/right */
    margin: 0;
    height: 100%;
  }

  .header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .header p {
    text-align: center;
    margin: 0 auto;
    /* padding-top: 80px; */
    font-size: clamp(1.8125rem, 0.4732rem + 3.5714vw, 2.1875rem);
  }

  .text {
    margin-top: 10px;
  }

  .header span {
    font-size: clamp(0.9375rem, 0.7143rem + 0.5952vw, 1rem);
  }

  .box-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box {
    width: 85px;
    height: 85px;
  }
  .box-text {
    font-size: clamp(0.9375rem, 0.7143rem + 0.5952vw, 1rem);
  }
}

@media (max-width: 480px) {
  /* small phones (e.g. iPhone SE) */
  body {
    margin: 0 auto;
    padding: 0;
  }

  /* navbar */

  nav {
    margin: 0;
    padding: 10px 50px;
  }

  .logo img {
    width: 120px;
  }

  #menuList {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #444;
    flex-direction: column;
    gap: 30px;
    padding: 60px 20px;
    transition: left 0.3s ease;
    display: flex;
    z-index: 999;
    transition: all 0.5s;
  }
  #menuList.active {
    left: 0;
  }

  .menu-icon {
    display: block;
  }

  nav ul li a {
    text-decoration: none;
    color: #ffffff;
  }

  nav ul {
    display: none;
  }

  .close-btn {
    align-self: flex-end;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
  }

  /* topbar */

  .icon-text img {
    width: 18px;
    height: 18px;
  }

  #col-hero img {
    width: 16px;
    height: 15px;
    margin-inline-end: 5px;
  }
  .topbar {
    width: 100%;
    background-color: #22212d;
    padding: 20px 50px;
  }

  #toprow {
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .icon-text span {
    background-color: transparent;
    font-size: 8px;
  }

  .icon-text {
    align-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ffffff;
  }

  #col-heroes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  /* content */
  .content {
    padding: clamp(90px, 2vw, 50px) clamp(15px, 4vw, 40px); /* top/bottom left/right */
    margin: 0;
    height: 100%;
  }

  .header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .header p {
    text-align: center;
    margin: 0 auto;
    /* padding-top: 80px; */
    font-size: clamp(1.8125rem, 0.4732rem + 3.5714vw, 2.1875rem);
  }

  .text {
    margin-top: 10px;
  }

  .header span {
    font-size: clamp(0.9375rem, 0.7143rem + 0.5952vw, 1rem);
  }

  .box-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box {
    width: 60px;
    height: 60px;
  }

  .box-item {
    font-size: 10px;
  }

  .box-text {
    font-size: clamp(0.75rem, -0.1429rem + 2.381vw, 1rem);
  }
}
