@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Roboto", sans-serif;
  --second-font: "Inter", sans-serif;
  --first-font: "Nunito", sans-serif;
  --header-height: 4rem;
}

body {
  height: auto;
  font-family: "Poppins" sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  scroll-behavior: smooth;
  background: #3498db;
}

nav {
  padding: 30px 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  position: relative;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #1d1d1d;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}
.close-btn {
  display: none;
}

.logo img{
  width: 150px;
}

/* topbar */


.topbar {
  width: 100%;
  background-color: #22212d;
  padding: 20px 300px; 
}

#toprow {
  margin: 0;
  align-items: center;
  justify-content: center;
}

.icon-text img{
  width: 22px;
  height: 23px;
}

#col-hero img{
  width: 20px;
  height: 19px;
  margin-inline-end: 7px;
}

.icon-text span {
  background-color: transparent;
}

.icon-text {
  align-items: center;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}
#col-heroes{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}



