@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Roboto", sans-serif;
  --second-font: "Inter", sans-serif;
  --first-font: "Nunito", sans-serif;
  --header-height: 4rem;
}

body {
  height: auto;
  font-family: "Poppins" sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  scroll-behavior: smooth;
  background: #3498db;
}

nav {
  padding: 30px 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  position: relative;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #1d1d1d;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}
.close-btn {
  display: none;
}

.logo img {
  width: 150px;
}

/* topbar */

.topbar {
  width: 100%;
  background-color: #22212d;
  padding: 20px 300px;
}

#toprow {
  margin: 0;
  align-items: center;
  justify-content: center;
}

.icon-text img {
  width: 22px;
  height: 23px;
}

#col-hero img {
  width: 20px;
  height: 19px;
  margin-inline-end: 7px;
}

.icon-text span {
  background-color: transparent;
}

.icon-text {
  align-items: center;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}
#col-heroes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* layer1 */
#layer1 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 0;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* dark shadow effect */
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6); /* optional extra shadow */
  pointer-events: none;
}

.content {
  margin: 0 auto;
  align-items: flex-start;
  justify-content: start;
  text-align: start;
  padding: 20px 300px;
  position: relative;
  z-index: 1;
  color: white;
  height: 75%;
}

/* text */

.header p {
  font-family: var(--first-font);
  margin-top: 150px;
  font-size: 40px;
  line-height: 1.4;
  font-weight: bold;
  text-align: left;
}

.header span {
  font-size: 18px;
  font-family: var(--first-font);
  line-height: 1.4;
  font-weight: 200;
  text-align: left;
}

/* box */

.box-container {
  display: flex;
  gap: 20px; /* space between boxes */
  flex-wrap: wrap; /* allows wrapping on small screens */
  padding: 20px;
  justify-content: space-between;
}

.box-item {
  text-align: center;
}

.box-text {
  margin-top: 8px;
  font-size: 18px;
  color: #ffffff;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #181818; /* blue box */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 0;
  margin: 0;
}

/* partners slideshow */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.clients {
  overflow: hidden;
  padding: 50px 0;
  background: #232323;
  height: 100%;
  white-space: nowrap;
  position: relative;
  text-align: center;
}

.clients p {
  color: #ecf3fe;
  font-size: 20px;
}

.clients:before,
.clients:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.clients:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #000000);
}

.clients:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000000);
}

.clients:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  display: flex;
}

.logos-slide img {
  height: 150px;
  width: auto;
  margin: 0 40px;
}

/* product */
.product {
  height: 100vh;
  width: 100%;
  padding: 150px 300px;
}

.product-title p {
  font-size: 40px;
  font-family: var(--first-font);
  font-weight: bold;
}
