@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Roboto", sans-serif;
  --second-font: "Inter", sans-serif;
}

* {
  font-family: "Poppins" sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #181818;
}

body{
  height: auto;
}

#hero {
  padding: 0;
  margin: 0 auto;
}

/* first nav */

.nav-hero {
  width: 100%;
  margin: 0 auto;
  background-color: #22212d;
  color: #fff;
  max-height: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

#row-hero {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: transparent;
}

.nav-hero img {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-inline-end: 8px;
}

/* transparent */
#col-hero,
#col-heros .icon-text {
  background-color: transparent;
}
.icon-text span {
  background-color: transparent;
}

.icon-text {
  display: flex;
  align-items: center;
  margin: 0;
  margin-inline-end: 20px;
}

#col-heros {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  font-size: 14px;
  gap: 10px;
  background-color: transparent;
}

.nav {
  max-width: 100%;
  height: 100px;
  background-color: #fff;
}

#navigation {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
}

#hero-nav {
  margin: 0 auto;
  padding-left: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.logo {
  background-color: transparent;
}

.logo img {
  background-color: transparent;
}

#nav__link,
.nav__listed,
.nav__list,
.nav__list li,
.nav__link {
  background-color: transparent !important;
}

.nav__list li a {
  text-decoration: none;
  background-color: #fff;
  color: #181818;
  font-family: var(--second-font);
}

#nav__link {
  padding-right: 100px;
}

.nav__list {
  background-color: transparent;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 13px;
  align-items: center;
  color: #181818;
  text-decoration: none;
  font-size: 13px;
}

#hero-body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

/* Content */

.content{
 padding-left: 100px;
}

#content-row{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: ;
  
}

.content-title{
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  font-family: var(--second-font);
}

.sub-title{
  color: #fff;
}

/* icon box */
.icon-box{
  color: #fff;
  font-family: var(--second-font);
  padding: 10%;
  text-align: start;
}

.icon-box i{
  margin-bottom: 15px;
  padding: 0;
  display: block;
}

.icon-box p{
  margin: 0;
}

/* footer */
.footer {
  padding-top: 50rem;
  margin: 0 ;
  padding: 0;
  background-color: #fff;
  height: 65vh;

}

#spacing-footer{
  background-color: transparent;
  padding: 150px;
  margin: 0 auto;
}

#footer-logo{
  background-color: transparent;
  
}

/*footer text */

#footer-mid, #footer-end, .span-foot,  .span-footers, .span-footer, .text-decoration-none, .text-title, .text-body{
  background-color: transparent;

}
.text-title{
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 25px;
}

#footer-end a{
  color: #181818;
}

#footer-mid{
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items:flex-start;
}

.span-footer{
  margin-left: 80px;
}
.span-footers{
  margin-left: 58px;
}

.span-foot{
  margin-left: 65px;
}

/* footer-end */

  .underline{
    width: 80%;
    height: 3px;
    background-color: #cacaca;
  }

  .footer-end, #end-footer,  #end-text p{
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  #end-text{
    text-align: center;
  }

 